body {
  overflow-x: hidden;
}
.whole-screen {
  background-color: coral;
}
.top-half {
  height: 50%;
  width: 75%;
  background-color: white;
}
.bottom-half {
  height: 50%;
  background-color: black;
}
i.fa {
  font-size: 56px;
  color: coral;
  margin-left: 50%;
}