body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  background-color: #C1C8E4;
}
.top-header {
  position: absolute;
  top: 0px;
}
.fa-glide-g:before {
  position: fixed;
  top: 2px;
  left: 5px;
  font-size: 68px;
  color: #8860D0;
}
#profile-pic {
  position: fixed;
  height: 500px;
  width: 500px;
  border-radius: 112px;
  margin-top: 130px;
  right: 30px;
}